name: Shadis CI
on: [push]
jobs:
  lint-and-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install
      uses: CultureHQ/actions-yarn@master
      with:
        args: install
    - name: Test
      uses: CultureHQ/actions-yarn@master
      with:
        args: test
